<div class="container">
  <nav class="sidebar">
    <h1>Menu</h1>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Empresa</a></li>
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Candidato</a></li>  
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Vaga</a></li>
      <li><a routerLink="/tecnologia" routerLinkActive="active" ariaCurrentWhenActive="page">Tecnologia</a></li>
      <li><a routerLink="/entrevista" routerLinkActive="active" ariaCurrentWhenActive="page">Entrevista</a></li>
      <li><a routerLink="/vaga-peso" routerLinkActive="active" ariaCurrentWhenActive="page">Configuração de vaga</a></li>
      <li><a routerLink="/relatorio" routerLinkActive="active" ariaCurrentWhenActive="page">Relatório</a></li>
    </ul>
  </nav>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>