<h1 mat-dialog-title class="modal-header">Editar Tecnologia</h1>
<div mat-dialog-content class="modal-content">
    <form [formGroup]="vagaPesoForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Peso Técnologia</mat-label>
            <input matInput formControlName="peso">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button (click)="onSubmit()">Salvar</button>
</div>